<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 header-logo">
        <%= image_tag 'logo.png' %>
      </div>
      <div class="col-sm-8 logo1">
        <%= image_tag 'logo1.png' %>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom w-100">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand nav-logo" href="#">
      <%= image_tag 'logo.png' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Khoá học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Giá trị cốt lõi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nhận xét của học viên</a>
        </li>
      </ul>
    </div>
    <div class="form-inline nav-profile">
      <button class="btn btn-sm btn-primary" type="button">Đăng ký</button>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle language" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag 'vn.png' %>
          <span>VN</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">VN</a>
          <a class="dropdown-item" href="#">ENG</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section id="banner">
  <div class="opacity"></div>
  <div class="banner-caption">
    <div class="container">
      <h3 class="white-color">Kiến thức trading</h3>
      <div class="description">
        <p>
          Mang đến kiến thức
        </p>
        <p>
          cho bạn trong thị trường Forex
        </p>
        <p>
          đầy rủi ro và tiềm năng
        </p>
      </div>
      <p class="note">Khóa học này không phải là lời khuyên đầu tư tài chính</p>
      <button class="btn sign-up">Đăng ký </button>
    </div>
  </div>
</section>
<div class="container">
  <div class="row qa">
    <div class="col-12 col-md-4">
      <div class="box-qa">
        <div class="icon-qa">
          <%= image_tag 'icon-person.png' %>
        </div>
        <div class="content">
          <div class="title">
            Khóa học này dành cho ai?
          </div>
          <div class="description">
            Khóa học này dành cho các bạn là người mới bắt đầu tham gia vào thị trường Forex, Crypto... Thiếu kiến thức nền tảng trong thị trường.
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="box-qa box-center">
        <div class="icon-qa">
          <%= image_tag 'icon3.png' %>
        </div>
        <div class="content">
          <div class="title">
            Khóa học này có lợi ích gì?
          </div>
          <div class="description">
            Tránh lãng phí "học phí" cho thị trường. Định hướng tư duy được vào lệnh, quản lý rủi ro vốn. Nhằm giúp tiếp cận nhanh với tư duy của các Trader chuyên nghiệp           </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="box-qa">
        <div class="icon-qa">
          <%= image_tag 'icon2.png' %>
        </div>
        <div class="content">
          <div class="title">
            Khóa học này theo phương pháp
            hay chỉ báo thị trường ?
          </div>
          <div class="description">
            Khóa học này theo trường phái Price Action là chúng ta dựa theo đường đi của giá để đưa ra quyết định cho mình
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="introduction">
  <div class="introduce">
    <div class="content content-1">
      <div class="opacity"></div>
      <div class="caption">
        <h5>Thực tế</h5>
        <p>Bài học được xây dựng trên kinh nghiệm thực tế</p>
        <p>trên 10 năm tham gia thị trường Forex, mang tính thực dụng tư duy cao</p>
      </div>
    </div>
    <div class="bg-image bg-1"></div>
    <div class="icon">
      <%= image_tag 'icon-eye.png' %>
      <p class="pt-2">THỰC TẾ<p/>
    </div>
  </div>
  <div class="introduce">
    <div class="bg-image bg-2"></div>
    <div class="icon">
      <%= image_tag 'brain.png' %>
      <p class="pt-2">TƯ DUY TÀI CHÍNH<p/>
    </div>
    <div class="content content-2">
      <div class="opacity"></div>
      <div class="caption">
        <h5>Tư duy tài chính</h5>
        <p>Bạn muốn thắng trong cuộc chơi với thị trường</p>
        <p>thì bạn phải kiên nhẫn, bạn sẽ học được tính chờ đợi, và kiên nhẫn với bản thân</p>
      </div>
    </div>
  </div>
  <div class="introduce">
    <div class="content content-3">
      <div class="opacity"></div>
      <div class="caption">
        <h5>Hiệu quả</h5>
        <p>Bạn sẽ ngay lập tức tự tin với thị trường và</p>
        <p>mang lại hiệu quả trong việc Trading, khi đã hiểu cách thị trường thay đổi.</p>
      </div>
    </div>
    <div class="icon">
      <%= image_tag 'icon4.png' %>
      <p class="pt-2">HIỆU QUẢ<p/>
    </div>
    <div class="bg-image bg-3"></div>
  </div>
</div>
<div class="statistics">
  <div class="statistic-bg">
    <p class="title">Con số của chúng tôi</p>
  </div>
  <div class="container statistic-content">
    <div class="statistic-item">
      <div class="title">
        30+
      </div>
      <div class="desc">
        bài học từ cơ bản đến nâng cao
        <br>
        (và được update thường xuyên)
      </div>
    </div>
    <div class="statistic-item">
      <div class="title">
        10+
      </div>
      <div class="desc">
        quốc gia đã tham
        <br>
        gia khóa học
      </div>
    </div>
    <div class="statistic-item">
      <div class="title">
        3000+
      </div>
      <div class="desc">
        thành viên đăng ký
      </div>
    </div>
    <div class="statistic-item">
      <div class="title">
        100+
      </div>
      <div class="desc">
        thành viên đăng ký
        <br>
        trong tháng
      </div>
    </div>
  </div>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'background2.png' %>
      <div class="opacity"></div>
      <div class="carousel-caption">
        <h1>Nhận xét của học viên</h1>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur
          <br>
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          <br>
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          <br>
          ullamco labnisi ut aliquip ex ea commodo
        </div>
        <div class="caption-footer">
          <p>Tuấn Vinh</p>
          33 tuổi, Hà Nội
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'background2.png' %>
      <div class="opacity"></div>
      <div class="carousel-caption">
        <h1>Nhận xét của học viên</h1>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur
          <br>
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          <br>
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          <br>
          ullamco labnisi ut aliquip ex ea commodo
        </div>
        <div class="caption-footer">
          <p>Tuấn Vinh</p>
          33 tuổi, Hà Nội
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'background2.png' %>
      <div class="opacity"></div>
      <div class="carousel-caption">
        <h1>Nhận xét của học viên</h1>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur
          <br>
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          <br>
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          <br>
          ullamco labnisi ut aliquip ex ea commodo
        </div>
        <div class="caption-footer">
          <p>Tuấn Vinh</p>
          33 tuổi, Hà Nội
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container-fluid box-sign-up">
  <button class="btn btn-primary btn-signup">Đăng ký ngay</button>
</div>

<%= link_to 'logout', destroy_user_session_path, method: :delete %>
<div class="container">asdfasdfasfd</div>