<!DOCTYPE html>
<html>
  <head>
    <title>Forex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  <section>
    <div class="container-fluid" style="height:270px;background-color: #1F1F1F;">

    </div>
    <div class="container-fluid" style="height:63px;background-color: #282827;">
      <div class="text-center" style="padding: 20px; color: #6D6E70; font-size: 14px;font-family: 'SVN-NexaBook';">
        Copyright 2017, All Right Reserved, 1 Study Forex
      </div>
    </div>
  </section>
  </body>
</html>
