<!DOCTYPE html>
<html>
  <head>
    <title>Forex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #f0f0f0">
  <section>
    <div class="container" style="width: 60%;">
      <div class="row justify-content-center align-items-center header-height">
        <div class="col-md-4 text-left">
          <%= image_tag 'logo.png' %>
        </div>
        <div class="col-md-8 text-center">
          <%= image_tag 'logo1.png', style: "height: 145px;" %>
        </div>
      </div>
    </div>
  </section>
  <section style="height: 57px; background-color: #111E3C;" >
    <div class="container">
    </div>
  </section>
    <%= yield %>
  <section>
    <div class="container-fluid" style="height:270px;background-color: #1F1F1F;">

    </div>
    <div class="container-fluid" style="height:63px;background-color: #282827;">
      <div class="text-center" style="padding: 20px; color: #6D6E70; font-size: 14px;font-family: 'SVN-NexaBook';">
        Copyright 2017, All Right Reserved, 1 Study Forex
      </div>
    </div>
  </section>
  </body>
</html>
